.addTxt{
    color: #031723 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    max-width: 300px !important;
}

.addType{
    color: #031723 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    max-width: 300px !important;
}

.addBody{
    background: #f2f2f2 !important;
}

.changeTxt{
    font-size: 16px!important;
    font-weight: 700!important;
}

.accValue{
    color: #FF4500;
}

.modalTitle{
    color: #031723!important;
    font-weight: 600;
    font-size: 20px;
}

.addrModal .slds-modal__content{
    overflow:initial;
}

.addTypeTitle{
    color: #031723 !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}